//颜色定义规范
$color-main-background = white
$color-background-header=linear-gradient(to right,rgb(51,77,212),rgb(62,123,255))
$color-background-body=#f5f5f5

$color-theme = #e77817
$color-text=#393939
$color-text-top=white

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium-s = 16px
$font-size-medium = 18px
$font-size-medium-xs=20px
$font-size-medium-x = 22px
$font-size-medium-xx = 24px

$font-size-large = 0.28rem
$font-size-large-x = 38px
//tab宽度
$header-height=0.88rem
